<mat-card class="home" >
    <mat-card-title class="title">
        Bem-vindo ao MyBANK
    </mat-card-title>
</mat-card>

<div class="graphic">
    <div>
        <h1>funcador da empresa</h1>
        <img class="img-people" src="../../../assets/img/perfil profissional.jpg" alt="">
    </div>
</div>
<div class="item">
    <img class="banner-home" src="../../../assets/img/bunnerTower.jpg" alt="">
</div>
<mat-card class="item">
    <mat-card-title >
        Sobre o banco MyBANK
    </mat-card-title>
</mat-card>
