<mat-card class="home" >
    <mat-card-title class="title">
        Bem-vindo ao MyBANK
    </mat-card-title>
</mat-card>

<div class="graphic">
    <img class="img-dashboard" src="../../../assets/img/dashboard.png" alt="">
</div>
<mat-card class="item">
    <mat-card-title class="creator">
        Sobre o sistema do site
        <div class="info-creator">
            <img class="img-people" src="../../../assets/img/perfil profissional.jpg" alt="">
            <ul>
                <li class="item-info-creator"> Este sistema de deposito foi criado com intuito de aprender a integrar o front-end com o back-end.</li>
                <li class="item-info-creator"> Neste projeto esta integrado com im API em Springboot no back-end.</li>
                <li class="item-info-creator"> Já no front-end temos o Angular consumindo a API.</li>
                <li class="item-info-creator"> Este projeto realiza as operações de C.R.U.D.</li>
                <li class="item-info-creator">C: Create</li>
                <li class="item-info-creator">R: Remove</li>
                <li class="item-info-creator">U: Update</li>
                <li class="item-info-creator">D: Delete</li>
            </ul>
        </div>
    </mat-card-title>
</mat-card>
<div class="item">
    <img class="banner-home" src="../../../assets/img/bunnerTower.jpg" alt="">
</div>
