<mat-card class="home mat-elevation-z3" >
    <mat-card-title class="title">
        BEM VINDO
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema para exemplificar um cadastro de usuarios
    </mat-card-subtitle>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-card>
                <mat-card-title>
                    <h1>Carlos Alberto Dantas Fliho</h1>
                </mat-card-title>
            </mat-card>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-card>
                <mat-card-title>
                    <p>Numero da conta: 1</p>
                    <p>Nome: Carlos Alberto Dantas Fliho</p>
                    <p>E-mail: carlosdantas485@gmail.com</p>
                    <p>Phone: (11) 98350-2027</p>
                    <p>Balance: R$ 1.000.000,00</p>
                </mat-card-title>
            </mat-card>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-card>
                <mat-card-title>
                    <h1>Carlos Alberto Dantas Fliho</h1>
                </mat-card-title>
            </mat-card>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-card>
                <mat-card-title>
                    <p>Numero da conta: 1</p>
                    <p>Nome: Carlos Alberto Dantas Fliho</p>
                    <p>E-mail: carlosdantas485@gmail.com</p>
                    <p>Phone: (11) 98350-2027</p>
                    <p>Balance: R$ 1.000.000,00</p>
                    <button>
                        <span class="material-icons">
                            edit
                        </span>
                    </button>
                    <button>
                        <span class="material-icons">
                            delete
                        </span>
                    </button>
                    
                </mat-card-title>
            </mat-card>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-card>
                <mat-card-title>
                    <h1>Carlos Alberto Dantas Fliho</h1>
                </mat-card-title>
            </mat-card>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-card>
                <mat-card-title>
                    <p>Numero da conta: 1</p>
                    <p>Nome: Carlos Alberto Dantas Fliho</p>
                    <p>E-mail: carlosdantas485@gmail.com</p>
                    <p>Phone: (11) 98350-2027</p>
                    <p>Balance: R$ 1.000.000,00</p>
                </mat-card-title>
            </mat-card>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-card>
                <mat-card-title>
                    <h1>Carlos Alberto Dantas Fliho</h1>
                </mat-card-title>
            </mat-card>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-card>
                <mat-card-title>
                    <p>Numero da conta: 1</p>
                    <p>Nome: Carlos Alberto Dantas Fliho</p>
                    <p>E-mail: carlosdantas485@gmail.com</p>
                    <p>Phone: (11) 98350-2027</p>
                    <p>Balance: R$ 1.000.000,00</p>
                </mat-card-title>
            </mat-card>
        </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-card>
                <mat-card-title>
                    <h1>Carlos Alberto Dantas Fliho</h1>
                </mat-card-title>
            </mat-card>
        </mat-expansion-panel-header>
        <ng-template matExpansionPanelContent>
            <mat-card>
                <mat-card-title>
                    <p>Numero da conta: 1</p>
                    <p>Nome: Carlos Alberto Dantas Fliho</p>
                    <p>E-mail: carlosdantas485@gmail.com</p>
                    <p>Phone: (11) 98350-2027</p>
                    <p>Balance: R$ 1.000.000,00</p>
                </mat-card-title>
            </mat-card>
        </ng-template>
    </mat-expansion-panel>
       
       
</mat-card>