
.users-view{
    margin-top: 10px;
}

.options-page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn{
    width: 150px;
}

.input-search{
    height: 37px;
}
.btn-search{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.search{
    display: flex;
    margin: 10px;
}

.list-users{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.user{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
    width: 500100%;
    margin-top: 10px;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 5px 5px 1px 0px rgb(0, 0, 0);
}

.photo-user{
    width: 90px;
    border-radius: 50%;
    border: 3px solid #3F51B5;
    box-shadow: 1px 1px 10px 1px rgb(95, 95, 95);
}

.info-user{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.edit-options{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.balance{
    text-decoration: underline;
    font-weight: bold;
    margin: 0;
}

.balance-deposit{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.edit{
    color: green;
    margin-right: 10px;
    background-color: transparent;
}
.delete{
    color: red;
    background-color: transparent;

}