<mat-card class="title">
    <mat-card-title >
        Usuários
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <div class="options-page">
            <a routerLink="/users/create"> <button class="btn">NOVO USUARIO</button></a>
            <div class="search">
                <input type="text"  class="input-search" placeholder="Buscar usuario por ID">
                <a routerLink="/users/create" > 
                    <button class="btn-search">
                        <i class="material-icons">
                            zoom_in
                        </i>
                        Buscar
                    </button>
                </a>
            </div>
        </div>
    </mat-card-subtitle> 
</mat-card>
    <ul class="list-users">
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
        <li class="user">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
                    
            <div class="balance-deposit">
                <h3 class="balance">SALDO: R$ 1.000.000,00</h3>
                <a routerLink="/deposit">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
    </ul>
    

