
<mat-card class="home mat-elevation-z3" >
    <mat-card-title class="title">
        Bem-vindo ao MyBANK
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <p>Nosso sistema de banco utiliza as ferarmenta mais seguras e atualizadas do mercado.</p>
        <div class="create-new-user">
            <a routerLink="/users/create"> <button>NOVO USUARIO</button></a>
        </div>
    </mat-card-subtitle>
          
    <div class="content-list-users">
        <ul>
            <li class="user">
                <div class="edit-options">
                    <a routerLink="/users/update">
                        <button class="edit">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </a>
                    <button class="delete">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </div>
                <div class="info-user">
                    <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
                    <div>
                        <h1>Conta: 1</h1>
                        <h1>Carlos Alberto Dantas Filho</h1>
                        <p>Email: carlosdantas485@gmail.com</p>
                        <p>Idade: 26</p>
                        <p>Telefone: (11) 98350-2027</p>
                        </div>
                        <h3 class="balance">Saldo: R$ 1.000.000,00</h3>
                        <button>Depositar na conta</button>
                </div>
            </li>
            <li class="user">
                <div class="edit-options">
                    <a routerLink="/users/update">
                        <button class="edit">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </a>
                    <button class="delete">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </div>
                <div class="info-user">
                    <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
                    <div>
                        <h1>Conta: 2</h1>
                        <h1>Carlos Alberto Dantas Filho</h1>
                        <p>Email: carlosdantas485@gmail.com</p>
                        <p>Idade: 26</p>
                        <p>Telefone: (11) 98350-2027</p>
                    </div>
                    <h3 class="balance">Saldo: R$ 1.000.000,00</h3>
                    <button>Depositar na conta</button>
                </div>
            </li>
            <li class="user">
                <div class="edit-options">
                    <a routerLink="/users/update">
                        <button class="edit">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </a>
                    <button class="delete">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </div>
                <div class="info-user">
                    <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
                    <div>
                        <h1>Conta: 3</h1>
                        <h1>Carlos Alberto Dantas Filho</h1>
                        <p>Email: carlosdantas485@gmail.com</p>
                        <p>Idade: 26</p>
                        <p>Telefone: (11) 98350-2027</p>
                    </div>
                    <h3 class="balance">Saldo: R$ 1.000.000,00</h3>
                    <button>Depositar na conta</button>
                </div>
            </li>
            <li class="user">
                <div class="edit-options">
                    <a routerLink="/users/update">
                        <button class="edit">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </a>
                    <button class="delete">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </div>
                <div class="info-user">
                    <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
                    <div>
                        <h1>Conta: 4</h1>
                        <h1>Carlos Alberto Dantas Filho</h1>
                        <p>Email: carlosdantas485@gmail.com</p>
                        <p>Idade: 26</p>
                        <p>Telefone: (11) 98350-2027</p>
                    </div>
                    <h3 class="balance">Saldo: R$ 1.000.000,00</h3>
                    <button>Depositar na conta</button>
                </div>
            </li>
            <li class="user">
                <div class="edit-options">
                    <a routerLink="/users/update">
                        <button class="edit">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </a>
                    <button class="delete">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </div>
                <div class="info-user">
                    <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
                    <div>
                        <h1>Conta: 5</h1>
                        <h1>Carlos Alberto Dantas Filho</h1>
                        <p>Email: carlosdantas485@gmail.com</p>
                        <p>Idade: 26</p>
                        <p>Telefone: (11) 98350-2027</p>
                    </div>
                    <h3 class="balance">Saldo: R$ 1.000.000,00</h3>
                    <button>Depositar na conta</button>
                </div>
            </li>
            <li class="user">
                <div class="edit-options">
                    <a routerLink="/users/update">
                        <button class="edit">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </a>
                    <button class="delete">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </div>
                <div class="info-user">
                    <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
                    <div>
                        <h1>Conta: 6</h1>
                        <h1>Carlos Alberto Dantas Filho</h1>
                        <p>Email: carlosdantas485@gmail.com</p>
                        <p>Idade: 26</p>
                        <p>Telefone: (11) 98350-2027</p>
                    </div>
                    <h3 class="balance">Saldo: R$ 1.000.000,00</h3>
                    <button>Depositar na conta</button>
                </div>
            </li>
            <li class="user">
                <div class="edit-options">
                    <a routerLink="/users/update">
                        <button class="edit">
                            <i class="material-icons">
                                edit
                            </i>
                        </button>
                    </a>
                    <button class="delete">
                        <i class="material-icons">
                            delete
                        </i>
                    </button>
                </div>
                <div class="info-user">
                    <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
                    <div>
                        <h1>Conta: 7</h1>
                        <h1>Carlos Alberto Dantas Filho</h1>
                        <p>Email: carlosdantas485@gmail.com</p>
                        <p>Idade: 26</p>
                        <p>Telefone: (11) 98350-2027</p>
                    </div>
                    <h3 class="balance">Saldo: R$ 1.000.000,00</h3>
                    <button>Fazer depósito</button>
                </div>
            </li>
        </ul>
    </div>
</mat-card>
<div class="bannerTower">
</div>
