*{
    margin: 0;
    padding: 0;
}

.list{
    padding: 20px;
}
.create-new-user{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
}

.user{
    margin-top: 10px;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: 5px 5px 1px 0px rgb(0, 0, 0);
}

.photo-user{
    width: 90px;
    border-radius: 50px;
    border: 3px solid #3F51B5;
    box-shadow: 1px 1px 10px 1px rgb(95, 95, 95);
    margin-bottom: 20px;
}

.info-user{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.edit-options{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.edit-options button{
    padding: 5px;
    background-color: transparent;
}

.btn{
    height: 40px;
    padding: 10px;
}

.balance{
    text-decoration: underline;
    font-weight: bold;
}

.edit{
    color: green;
}
.delete{
    color: red;
}