<mat-card class="title-list-users">
    <mat-card-title >
        Usuários
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <div class="options-page">
            <a routerLink="/users/create"> <button class="btn">NOVO USUARIO</button></a>
            <div class="search">
                <input type="text"  class="input-search" placeholder="Buscar usuario por ID">
                <a routerLink="/users/create" > 
                    <button class="btn-search">
                        <i class="material-icons">
                            zoom_in
                        </i>
                        Buscar
                    </button>
                </a>
            </div>
        </div>
    </mat-card-subtitle> 
</mat-card>
    <ul class="list-users">
        <li class="user"
        *ngFor="let user of users">
            <div class="edit-options">
                <a routerLink="/users/update">
                    <button class="edit">
                        <i class="material-icons">
                            edit
                        </i>
                    </button>
                </a>
                <button class="delete">
                    <i class="material-icons">
                        delete
                    </i>
                </button>
            </div>
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="info-user">
                <h1>Conta: {{user.id}}</h1>
                <h1>{{user.firstName}}</h1>
                <h1>{{user.lastName}}</h1>
                <p>Email: {{user.email}}</p>
                <p>Idade: {{user.age}}</p>
                <p>Telefone: {{user.phone}}</p>
            </div>
                    
            <div class="balance-deposit">
                <a routerLink="/deposits">
                    <button class="btn">DEPOSITAR</button>
                </a>
            </div>
        </li>
    </ul>
    

