
.side-nav{
    background-color: #3f51b5;
    width: 200px;

}
.side-nav a{
    color: #fff;
}

.side-nav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: white;
}

.nav-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.exit{
    text-align: center;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:5px 10px;
    margin-left: 20px;
}