<mat-sidenav-container class="container">
    <mat-sidenav class="side-nav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                HOME
            </a>
            <a mat-list-item routerLink="/users">
                <i class="material-icons">
                    account_circle
                </i>
                USERS
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    <mat-icon matBadge="+15" matBadgeColor="warn">swap_horiz</mat-icon>
                </i>
                DEPOSITS
            </a>
            <a routerLink="/">
                <button class="exit">
                    <i class="material-icons">
                        power_settings_new
                    </i>
                    SAIR
                </button>
            </a>
            
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
    
</mat-sidenav-container>