.options-page{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.btn{
    width: 150px;
}

.input-search{
    height: 37px;
}
.btn-search{
    height: 40px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.search{
    display: flex;
    margin: 10px;
}

.deposit-list{
    margin-top: 10px;
   color: black;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.item-deposit{
    width: 400px;
    height: 200px;
    margin: 5px;
    padding: 20px;
    color: white;
    background-color: #F5F6FA;
    color: black;
    border-radius: 10px;
    box-shadow: 3px 3px 5px 3px rgb(155, 155, 155);
}

.status{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.status p {
    height: 20px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: rgb(253, 194, 0);
    border-radius: 50px;
    margin-left: 20px;
}

.info-deposit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.letter-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letter-name h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 00px;
    border-radius:50%;
    font-size: 40px;
    background-color: rgb(207, 207, 207);
}

.icon-transation{
    margin: 20px;
    height: 50px;
}

.value{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}