.deposit{
    margin-top: 10px;
}

.deposit-list{
   color: black;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
}

.item-deposit{
    margin: 5px;
    padding: 20px;
    background-color: white;
    box-shadow: 5px 5px 1px 0px rgb(0, 0, 0);
}

.status{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.status p {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(192, 131, 0);
    color: white;
    border-radius: 50px;
}

.info-deposit{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.letter-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.letter-name h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    padding: 00px;
    border-radius:50%;
    font-size: 40px;
    background-color: rgb(207, 207, 207);
}

.icon-transation{
    margin: 20px;
}

.send h1{
    color: red;
    border: 2px solid red;

}

.receive h1{
    color: rgb(0, 134, 11);
    border: 2px solid rgb(0, 134, 11);

}

.value{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}