<mat-card class="title">
    <mat-card-title >
        Histórico de depósitos
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        <div class="options-page">
            <a routerLink="/deposits"> <button class="btn">NOVO DEPÓSITO</button></a>
            <div class="search">
                <input type="text"  class="input-search" placeholder="Buscar depósito por ID">
                <a routerLink="/users/create" > 
                    <button class="btn-search">
                        <i class="material-icons">
                            zoom_in
                        </i>
                        Buscar
                    </button>
                </a>
            </div>
        </div>
    </mat-card-subtitle> 
</mat-card>
<ul class="deposit-list">
    <li class="item-deposit"
        *ngFor="let deposit of deposits"
    >
        <div class="status">
            <h1>Depósito número: {{deposit.id}}</h1>
            <p>{{deposit.depositStatus}}</p>
        </div>
        <div class="info-deposit">
            <h3>{{deposit.dataNow}}</h3>
            <i class="material-icons icon-transation">
                keyboard_tab
            </i>
            <h3>{{deposit.dataDeposit}}</h3>
        </div>
        <div class="value"> 
            <h1>Valor: R$ {{deposit.amount}}</h1>
        </div>
        <div class="edit-options">
            <a routerLink="/deposits/update/{{deposit.id}}">
                <button class="delete">
                    <i class="material-icons">
                        edit
                    </i>
                </button>
            </a>
            
            <button class="delete">
                <i class="material-icons">
                    delete
                </i>
            </button>
        </div>
    </li>
    
</ul>