<mat-card class=" deposit content-create-user">
    <h1>Histórico de depósitos</h1>
    <ul class="deposit-list">
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        <li class="item-deposit">
            <div class="status">
                <h1>Pedido Número: 5</h1>
                <p>Pendente</p>
            </div>
            <div class="info-deposit">
                <div class="letter-name send">
                    <h1>C</h1>
                    <p>Conta: 11</p>
                    <p>Carlos Alberto Dantas Filho </p>
                    <h3>Data da solicitação </h3>
                    <h3>30/05/2022</h3>
                </div>
                <i class="material-icons icon-transation">
                    keyboard_tab
                </i>
                <div class="letter-name receive">
                    <h1>T</h1>
                    <p>Conta: 5</p>
                    <p>Ticago c. Melo</p>
                    <h3>Data programada </h3>
                    <h3>30/06/2022 </h3>
                </div>
            </div>
            <div class="value"> 
                <h1>Valor: R$500,00</h1>
            </div>
        </li>
        

    </ul>
</mat-card>