<mat-card class="title-page">
    <mat-card-title class="title">
        DEPOSITAR
    </mat-card-title>
</mat-card>
<div class="deposit">
    <form class="forms-deposit">  
        <mat-form-field>
            <input matInput placeholder="Conta" 
            [(ngModel)]="deposit.account" 
            name="account"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Dia" 
            [(ngModel)]="deposit.dayDeposit" 
            name="dayDeposit"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Mês" 
            [(ngModel)]="deposit.monthDeposit" 
            name="monthDeposit"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Ano" 
            [(ngModel)]="deposit.yearDeposit" 
            name="yearDeposit"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valor (R$)" 
            [(ngModel)]="deposit.amount" 
            name="amount"
            />
        </mat-form-field>
        <a routerLink="/deposits/list">
            <button id="btn-send" (click)="createDeposit()">ENVIAR</button>
        </a>
    </form>
    
</div>
