<mat-card class="title-page">
    <mat-card-title class="title">
        DEPOSITAR
    </mat-card-title>
</mat-card>
<mat-card class="deposit">
    <form class="forms-deposit">  
        <mat-form-field>
            <input matInput placeholder="Conta" 
            [(ngModel)]="deposit.depositStatus" 
            name="depositStatus"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data" 
            [(ngModel)]="deposit.dataDeposit" 
            name="dataDeposit"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valor (R$)" 
            [(ngModel)]="deposit.amount" 
            name="amount"
            />
        </mat-form-field>
    </form>
    <a routerLink="/users">
        <button id="btn-send" (click)="createDeposit()">ENVIAR</button>
    </a>
</mat-card>
