.header-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.options{
    display: flex;
    align-items: center;
}

.exit{
    background-color: red;
    display: flex;
    align-items: center;
    padding:5px 10px;
    margin-left: 20px;
}