span{
    display: flex;
    width: 30vw;
    justify-content: space-between;
}
.btn-deposit{
   
    background-color: rgb(137, 228, 1);
    color: rgb(0, 0, 0);
}
.header-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.options{
    display: flex;
    align-items: center;
}

.login{
    width: 120px;
    background-color: rgb(40, 132, 218);
    text-decoration: underline;
}