<mat-toolbar class=" header-content header mat-elevation-z4">
    <span>
        <a>
            MyBANK
        </a>
    </span>
    
    <div class="options">
        <button class="login" routerLink="/login">
            LOGIN
        </button>
        <button>
            <i class="material-icons">
                report
            </i>
        </button>
        <button>
            <i class="material-icons">
                settings
            </i>
        </button>
        
    </div>
    
</mat-toolbar>

