.header-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.header{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    align-items: center;
    text-decoration: none;
}

.options{
    display: flex;
    align-items: center;
    
}
.btn-header{
    margin: 5px;
    background-color: transparent;
}



.login{
    width: 120px;
    background-color: rgb(40, 132, 218);
    text-decoration: underline;
    margin-right: 10px;
}