*{
    margin: 0;
    padding: 0;
}

.create{
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}

.title{
    width: 100%;
    display: flex;
}
.forms{
    margin-top: 20px;
    color: black;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 400px;
    padding: 20px;
}

.input-box{
    margin-top: 10px;
}

.button-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn-send{
    margin-top: 20px;
    width: 150px;
}

.btn-cancel{
    margin-top: 20px;
    background-color: red;
    width: 150px;
}