<mat-card>
    <mat-card-title>
        Desja criar um novo usuario ? 
    </mat-card-title> 
</mat-card>
<mat-card class="card-forms">
    <form class="forms">
        <mat-form-field>
            <input matInput placeholder="NOME" 
            
            name="account"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="E-MAIL" 
            
            name="dataDeposit"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="TELEFONE" 
            
            name="amount"
            />
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="SENHA" 
            
            name="amount"
            />
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="SENHA" 
            
            name="amount"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="SALDO ( R$ )" 
            
            name="amount"
            />
        </mat-form-field>
    </form>
    <a routerLink="/users">
        <button class="btn-send" >ENVIAR</button>
    </a>
</mat-card>