.card-forms{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forms{
    width: 40vw;

    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.btn-send{
    width: 40vw;
}