<mat-card class="content-create-user">
    <form class="forms">
        <div class="input-box">
            <p>Nome</p>
            <input type="text" name="" id="" placeholder="Digite seu nome">
        </div>
        <div class="input-box">
            <p>E-mail</p>
            <input type="text" name="" id="" placeholder="Digite seu email">
        </div>
        <div class="input-box">
            <p>Telefone</p>
            <input type="text" name="" id="" placeholder="Digite seu telefone">
        </div>
        <div class="input-box">
            <p>Senha</p>
            <input type="password" name="" id="" placeholder="Senha">
        </div>
        <div class="input-box">
            <p>senha</p>
            <input type="password" name="" id="" placeholder="Senha">
        </div>
        <div class="input-box">
            <p>Saldo</p>
            <input type="text" name="" id="" placeholder="Digite o saldo da conta">
        </div>
        <div class="input-box">
            <p>Escolha sua foto</p>
            <input type="file" />
        </div>
        
        <button class="btn-send">ENVIAR</button>
    </form>
</mat-card>