<mat-card class="title">
    <mat-card-title>
        Cadastro
    </mat-card-title> 
</mat-card>
<div class="box-create-account">
    <mat-card class="card-forms">
        <form class="forms">
            <mat-form-field>
                <input matInput placeholder="NOME" 
                
                name="firstName"
                />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="SOBRENOME" 
                
                name="lastName"
                />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="E-MAIL" 
                
                name="email"
                />
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="TELEFONE" 
                
                name="phone"
                />
            </mat-form-field>
            <mat-form-field>
                <input type="password" matInput placeholder="IDADE" 
                
                name="age"
                />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="SALDO ( R$ )" 
                
                name="balance"
                />
            </mat-form-field>
        </form>
        <a routerLink="/users">
            <button class="btn-send" >ENVIAR</button>
        </a>
    </mat-card>
</div>
