<mat-card class="title">
    <mat-card-title >
        Histórico de depósitos
    </mat-card-title>
</mat-card>
<mat-card class="update mat-elevation-z3" >
        <div class="user">
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div class="infos-user">
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
        </div>

        <form class="forms-user">  
            <mat-form-field>
                <input matInput placeholder="NOME" 
                name="name"
                />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="E-MAIL" 
                name="email"
                />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="TELEFONE" 
                name="phone"
                />
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="IDADE" 
                name="age"
                />
            </mat-form-field>
            <a routerLink="/users">
                <button id="btn-update">ENVIAR</button>
            </a>
        </form>
        
</mat-card>
