.update{
   margin-top: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   
}

.user{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    color: black;
    padding: 20px;
    background-color: white;
}

.photo-user{
    width: 90px;
    border-radius: 50px;
    border: 5px solid #3F51B5;
}

.infos-user{
    margin: 10px;
}

.forms-user{
    display: flex;
    flex-direction: column;
    width: 40vw;
    margin: 10px;
}

#btn-update{
    width: 40vw;
}


