
<mat-card class="update mat-elevation-z3" >
    <h1>Deseja ediatar este usuario ?</h1>
    <div class="info-user">
        
        <div class="info-user">
            <img class="photo-user" src="../../../../assets/img/photo.jpg" alt="">
            <div>
                <h1>Conta: 1</h1>
                <h1>Carlos Alberto Dantas Filho</h1>
                <p>Email: carlosdantas485@gmail.com</p>
                <p>Idade: 26</p>
                <p>Telefone: (11) 98350-2027</p>
            </div>
        </div>

        <form class="form">
            <div class="input">
                <p>nome</p>
                <input type="text" placeholder="Digite seu nome">
            </div>
            <div class="input" >
                <p>E-mail</p>
                <input type="text" placeholder="Digite deu e-mail">
            </div>
            <div class="input">
                <p>Idade</p>
                <input type="text" placeholder="Digite sua idade">
            </div>
            <div class="input">
                <p>Telefone</p>
                <input type="text" placeholder="Digite seu telefone">
            </div>
            <div class="button-box">
                <button class="send">ENVIAR</button>
                <button class="cancel">ENVIAR</button>
            </div>
            
        </form>
    </div>
</mat-card>
