/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.v-midle{
    vertical-align: middle;
}

*{
    outline: none;
}
button{
    height: 40px;
    background-color: #3F51B5;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    color: white;
    font-weight: bold;
}
li{
    list-style: none;
}
input {
    height: 40px;
    width: 100%;
}
