<mat-card class="title-page">
    <mat-card-title class="title">
        UPDATE
    </mat-card-title>
</mat-card>
<mat-card class="deposit">
    <form class="forms-deposit">  
        <mat-form-field>
            <input matInput placeholder="Conta" 
            name="depositStatus"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Data" 
            name="dataDeposit"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valor (R$)" 
            name="amount"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valor (R$)" 
            name="amount"
            />
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="valor (R$)" 
            name="amount"
            />
        </mat-form-field>
    </form>
    <a routerLink="/deposits/list">
        <button id="btn-send" >ENVIAR</button>
    </a>
</mat-card>